@import "~bootstrap/scss/bootstrap";

.vertical-offset-50 {
  padding-top: 50px;
}

.vertical-offset-20 {
  padding-top: 20px;
}

.top-margin-50 {
  padding-top: 20px;
}

.btn {
  cursor: pointer;
}

.table-button {
  margin-left: 5px;
  margin-right: 5px;
}
